# Flask
FLASK_SECRET_KEY=replace-with-a-long-random-secret

APP_PASSWORD=replace-with-a-strong-password

# Syncthing
SYNCTHING_URL=http://host.docker.internal:8384
SYNCTHING_API_KEY=replace-with-your-syncthing-api-key

SYNCED_FOLDER_PATH=/path/syncthing
# Storage folder
HOST_SYNCED_FOLDER_PATH=C:\path\to\your\syncthing-folder